$clr-primary-orange: hsl(26, 100%, 55%);
$clr-primary-pale-orange: hsl(25, 100%, 94%);

$clr-neutral-very-dark-blue: hsl(220, 13%, 13%);
$clr-neutral-dark-gray-blue: hsl(220, 13%, 13%);
$clr-neutral-gray-blue: hsl(220, 14%, 75%);
$clr-neutral-light-blue: hsl(223, 64%, 98%);

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-lightbox-bg: hsl(0, 0%, 75%);