@use '../../../sass/variables';

.popup {
  width: 280px;
  height: 200px;
  background-color: variables.$clr-white;
  box-shadow: 5px 5px 12px 5px #d1caca;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 65px;
  right: 20px;
}

.hide {
  visibility: hidden;
}

.popup__top {
  border-bottom: 2px solid #eee;
  font-size: 0.9rem;
  font-weight: bolder;
  padding-bottom: 0.5rem;
  p {
    padding: 10px;
  }
}

.popup__details {
  text-align: center;
  margin: auto;
  color: variables.$clr-neutral-gray-blue;
  padding-top: 1rem;
  font-size: 0.9rem;
  font-weight: bolder;
}

.popup__thumbnail {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.popup__top {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  text-align: left;
  height: 50px;
  p {
    font-weight: normal;
    padding: 0;
  }
  span {
    color: variables.$clr-neutral-dark-gray-blue;
    font-weight: bolder;
  }
}

.checkout__btn {
  width: 100%;
  margin-top: 1rem;
}

.delete__icon {
  display: inline-flex;
  cursor: pointer;
}

.items__purchased {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
