@use '../../../sass/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid variables.$clr-neutral-light-blue;
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.header__left {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.header__links {
  display: flex;
  gap: 0.8rem;
  color: variables.$clr-neutral-gray-blue;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
}

.avatar {
  margin-left: 2rem;
}

.cart {
  position: relative;
}

.avatar:hover {
  outline: 2px solid variables.$clr-primary-orange;
}

.header__links > p:hover {
  border-bottom: 2px solid variables.$clr-primary-orange;
  color: variables.$clr-neutral-very-dark-blue;
}

// The number that displays above the cart??
.cart__number {
  position: absolute;
  color: variables.$clr-white;
  padding: 4px 6px;
  border: none;
  border-radius: 50%;
  background-color: variables.$clr-primary-orange;
  font-size: 0.8rem;
}

.navbar__desktop {
  display: none;
}

.close__menu {
  display: none;
}

.header .header__left #showMenu {
  display: flex;
}

@media only screen and (max-width: 749px) {
  .header {
    padding: 10px 30px;
  }

  .navbar__desktop {
    display: flex;
  }

  .header__links {
    display: none;
  }

  .header__left {
    flex-direction: row-reverse;
  }

  .close__menu {
    display: flex;
    width: 50px;
    height: 50px;
  }

  .header .header__left #showMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 0;
    left: 20px;
    padding-left: 50px;
    height: 100vh;
    width: 50%;
    padding-top: 20px;
    background-color: variables.$clr-white;
    color: variables.$clr-neutral-very-dark-blue;
    .close__menu {
      width: 20px;
      height: 20px;
      margin-bottom: 30px;
    }
  }
}

// How to add the transparent black background to the body when menu is open
