@use '../../../sass/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid variables.$clr-neutral-light-blue;
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.header__left {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.header__links {
  display: flex;
  gap: 0.8rem;
  color: variables.$clr-neutral-gray-blue;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
}

.avatar {
  margin-left: 2rem;
}

.cart {
  position: relative;
}

.avatar:hover {
  outline: 2px solid variables.$clr-primary-orange;
}

.header__links > p:hover {
  border-bottom: 2px solid variables.$clr-primary-orange;
  color: variables.$clr-neutral-very-dark-blue;
}

// The number that displays above the cart??
.cart__number {
  position: absolute;
  color: variables.$clr-white;
  padding: 4px 6px;
  border: none;
  border-radius: 50%;
  background-color: variables.$clr-primary-orange;
  font-size: 0.8rem;
}

.navbar__desktop {
  display: none;
}

@media only screen and (max-width: 749px) {
  .navbar__desktop {
    display: flex;
  }

  .header__links {
    display: none;
  }

  .header__left {
    flex-direction: row-reverse;
  }
}